doctype html
html(lang="en")
  head
    include partials/page/head.pug
  body
    include partials/page/header.pug
    .container
      p.
        Jade is a terse and simple templating language with a
        strong focus on performance and powerful features.
    include partials/page/footer.pug
    include partials/page/jsdefaults.pug
